# Load packages and methods

In [2]:

import pandas as pd
#from pandas_profiling import ProfileReport  
from datetime import datetime
import time
import numpy as np
import re

# Load libraries for graphing and mapping
import matplotlib
import matplotlib.pyplot as plt
#import mapclassify
import folium
import leafmap
import rasterio
import gmaps
%matplotlib inline

# load packages for modelling

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from scipy.sparse import diags

In [3]:
#Load libraries for geospacial data analysis 
import geopandas as gpd
from pysal.explore import esda
from keplergl import KeplerGl  # https://kepler.gl/

#Load geocoder, googlemaps and my own GoogleAPI
import geocoder
import googlemaps
from googlemaps import Client as GoogleMaps
#gmaps = googlemaps.Client(key='AIzaSyBuHr8DNX7PIn2QhgfJrHrqKBGYmEgwKAI')

# load methods for geospatial weight calculation 
import libpysal.weights as lpw

# Check Working directory

In [4]:
import sys

# Set the maximum size of the printed output to infinity
sys.maxsize = float('inf')

# Now, print statements will display the entire content without being truncated

In [5]:
import os
os.getcwd()

'd:\\01 Research\\Coding\\python'

# Geocode

In [6]:
gdf2=pd.read_csv(r"D:\Chapter_3\02_raw_data\gdf2.csv")

In [7]:
gdf2.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'CL_QPID', 'CL_Sale_ID', 'CL_Building_ID',
       'CL_Situation_Number', 'CL_TA7_MissingMB_Situation_Number',
       'CL_TA7_MissingMB_Additional_Number', 'CL_Street_Name',
       'CL_Street_Name_Suffix', 'CL_Street_Name_Direction', 'CL_Suburb',
       'CL_Town', 'CL_RegionID', 'CL_RegionName', 'CL_TAcode', 'CL_TAName',
       'CL_Meshblock', 'CL_SAU', 'CL_Sale_Tenure',
       'CL_Sale_Price_Value_Relationship', 'CL_Sale_Date', 'CL_Sale_Price_Net',
       'CL_Sale_Price_Chattels', 'CL_Sale_Price_Other', 'CL_Sale_Price_Gross',
       'CL_Land_Valuation_Capital_Value', 'CL_Land_Valuation_Land_Value',
       'CL_Land_Valuation_Improvements_Value', 'CL_Current_Revision_Date',
       'CL_Building_Floor_Area', 'CL_Building_Site_Cover', 'CL_Land_Area',
       'CL_Bldg_Const', 'CL_Bldg_Cond', 'CL_Roof_Const', 'CL_Roof_Cond',
       'CL_Category', 'CL_LUD_Age', 'CL_LUD_Land_Use_Description',
       'CL_MAS_Class_Surrounding_Improvmnt_Type', 'CL_MAS_Contour',
       'CL_MAS_View', 'CL_MAS_View_Scope', 'CL_MAS_Modernisation',
       'CL_MAS_House_Type_Description', 'CL_MAS_Deck_Indicator',
       'CL_MAS_Driveway_Indicator', 'CL_MAS_No_Main_Roof_Garages',
       'CL_MAS_Free_Standing_Garages', 'CL_MAS_Estimated_Year_Built',
       'CL_MAS_Landscaping_Quality', 'CL_MAS_Lot_Position', 'CL_School_Zone_1',
       'CL_School_Zone_2', 'CL_School_Zone_3', 'CL_School_Zone_4',
       'CL_School_Zone_5', 'CL_Val_Ref', 'CL_Latitude', 'CL_Longitude',
       'CL_Bedrooms', 'CL_Bathrooms'],
      dtype='object')

In [25]:
pip install requests

Requirement already satisfied: requests in c:\users\86133\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\86133\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\86133\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\86133\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\86133\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# create a column of fulladdress
# if redo this geocoding, better to include Region and TA columns

gdf2['streets'] = ((gdf2['CL_Street_Name'].fillna('') + ' ' +
                    gdf2['CL_Street_Name_Suffix'].fillna('') + 
                    gdf2['CL_Street_Name_Direction'].fillna('') + ', ' +
                    gdf2['CL_Suburb'].fillna('') + ', ' +
                    gdf2['CL_Town'].fillna('') + ', ' +
                    'New Zealand').str.strip())

# Replace multiple consecutive spaces with a single space
gdf2['streets'] = gdf2['streets'].apply(lambda x: re.sub(r'\s+', ' ', x))

In [8]:
# Creating the new column
gdf2['fulladdress'] = (gdf2['CL_Situation_Number'].fillna('')+ ' '+(gdf2['CL_Street_Name'].fillna('') + ' ' +
                    gdf2['CL_Street_Name_Suffix'].fillna('') +' ' +
                    gdf2['CL_Street_Name_Direction'].fillna('') + ', ' +
                    gdf2['CL_Suburb'].fillna('') + ', ' +
                    gdf2['CL_Town'].fillna('') + ', ' +
                    'New Zealand').str.strip())

# Replace multiple consecutive spaces with a single space
gdf2['fulladdress'] = gdf2['fulladdress'].apply(lambda x: re.sub(r'\s+', ' ', x))

In [9]:
# copy the functions to create geocoding from addresses
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="Mozilla/5.0")

def extract_lat_long(address):
    try:
        location=geolocator.geocode(address)
        return [location.latitude, location.longitude]
    except:
        return np.nan

In [10]:
# copy the function to perform geocoding for a chunck of data
def geocode_chunk(chunk):
    chunk['lat_long'] = chunk["fulladdress"].apply(extract_lat_long)
    chunk['latitude'] = chunk['lat_long'].apply(lambda x: x[0] if isinstance(x, list) else np.nan)
    chunk['longitude'] = chunk['lat_long'].apply(lambda x:x[1] if isinstance(x, list) else np.nan)

In [11]:
# code to split gdf2 into 18 smaller chunks
import numpy as np
chunks = np.array_split(gdf2, 18)  # chunks is a list of dataframes

In [11]:
type(chunks)

list

In [17]:
len(chunks[15])

9779

In [39]:
chunks[0].tail()

,Unnamed: 0.1,Unnamed: 0,CL_QPID,CL_Sale_ID,CL_Building_ID,CL_Situation_Number,CL_TA7_MissingMB_Situation_Number,CL_TA7_MissingMB_Additional_Number,CL_Street_Name,CL_Street_Name_Suffix,...,CL_School_Zone_5,CL_Val_Ref,CL_Latitude,CL_Longitude,CL_Bedrooms,CL_Bathrooms,streets,fulladdress,lat_long,latitude
9775,370715,370715,475850,3423821,0,28,NaN,NaN,Mountain View,Rd,...,NaN,NaN,NaN,NaN,NaN,NaN,"Mountain View Rd, Otorohanga, Otorohanga, New ...","28 Mountain View Rd , Otorohanga, Otorohanga,...","[-38.1775643, 175.2091531]",-38.177564
9776,370716,370716,475851,637497,0,22,NaN,NaN,Mountain View,Rd,...,NaN,NaN,NaN,NaN,NaN,NaN,"Mountain View Rd, Otorohanga, Otorohanga, New ...","22 Mountain View Rd , Otorohanga, Otorohanga,...","[-38.1779558, 175.2091872]",-38.177956
9777,370717,370717,475851,4289258,0,22,NaN,NaN,Mountain View,Rd,...,NaN,NaN,NaN,NaN,NaN,NaN,"Mountain View Rd, Otorohanga, Otorohanga, New ...","22 Mountain View Rd , Otorohanga, Otorohanga,...","[-38.1779558, 175.2091872]",-38.177956
9778,370769,370769,377499,4022373,0,33,NaN,NaN,Velma,Cres,...,NaN,NaN,NaN,NaN,NaN,NaN,"Velma Cres, Nawton, Hamilton, New Zealand","33 Velma Cres , Nawton, Hamilton, New Zealand","[-37.7869945, 175.2353066]",-37.786994
9779,370801,370801,347524,4420945,0,50,NaN,NaN,Maeroa,Rd,...,NaN,NaN,NaN,NaN,NaN,NaN,"Maeroa Rd, Maeroa, Hamilton, New Zealand","50 Maeroa Rd , Maeroa, Hamilton, New Zealand","[-37.7722034, 175.2626994]",-37.772203

In [42]:
geocode_chunk(chunks[1])

In [46]:
chunks[1].tail()

,Unnamed: 0.1,Unnamed: 0,CL_QPID,CL_Sale_ID,CL_Building_ID,CL_Situation_Number,CL_TA7_MissingMB_Situation_Number,CL_TA7_MissingMB_Additional_Number,CL_Street_Name,CL_Street_Name_Suffix,...,CL_Val_Ref,CL_Latitude,CL_Longitude,CL_Bedrooms,CL_Bathrooms,streets,fulladdress,lat_long,latitude,longitude
19555,768087,768087,912102,5236958,0,78,NaN,NaN,Hyde,St,...,NaN,NaN,NaN,NaN,NaN,"Hyde St, Wainuiomata, Lower Hutt, New Zealand","78 Hyde St , Wainuiomata, Lower Hutt, New Zea...","[-41.2605326, 174.9490206]",-41.260533,174.949021
19556,768235,768235,912583,1207815,0,45,NaN,NaN,Parkway,NaN,...,NaN,NaN,NaN,NaN,NaN,"Parkway , Wainuiomata, Lower Hutt, New Zealand","45 Parkway , Wainuiomata, Lower Hutt, New Zea...","[-41.2513936, 174.9333381]",-41.251394,174.933338
19557,768236,768236,912583,3666882,0,45,NaN,NaN,Parkway,NaN,...,NaN,NaN,NaN,NaN,NaN,"Parkway , Wainuiomata, Lower Hutt, New Zealand","45 Parkway , Wainuiomata, Lower Hutt, New Zea...","[-41.2513936, 174.9333381]",-41.251394,174.933338
19558,768269,768269,912650,1207912,0,22,NaN,NaN,Mitimiti,Grv,...,NaN,NaN,NaN,NaN,NaN,"Mitimiti Grv, Wainuiomata, Lower Hutt, New Zea...","22 Mitimiti Grv , Wainuiomata, Lower Hutt, Ne...",NaN,NaN,NaN
19559,768288,768288,912683,3031466,0,47,NaN,NaN,Kairanga,Cres,...,NaN,NaN,NaN,NaN,NaN,"Kairanga Cres, Wainuiomata, Lower Hutt, New Ze...","47 Kairanga Cres , Wainuiomata, Lower Hutt, N...","[-41.2463664, 174.9312032]",-41.246366,174.931203

In [47]:
geocode_chunk(chunks[2])

In [49]:
chunks[2].tail()

,Unnamed: 0.1,Unnamed: 0,CL_QPID,CL_Sale_ID,CL_Building_ID,CL_Situation_Number,CL_TA7_MissingMB_Situation_Number,CL_TA7_MissingMB_Additional_Number,CL_Street_Name,CL_Street_Name_Suffix,...,CL_Val_Ref,CL_Latitude,CL_Longitude,CL_Bedrooms,CL_Bathrooms,streets,fulladdress,lat_long,latitude,longitude
29334,1141490,1141490,1264629,4386386,0,634,NaN,NaN,Pages,Rd,...,NaN,NaN,NaN,NaN,NaN,"Pages Rd, , , New Zealand","634 Pages Rd , , , New Zealand","[-43.5243222, 172.6856232]",-43.524322,172.685623
29335,1141491,1141491,1264631,2882913,0,630,NaN,NaN,Pages,Rd,...,NaN,NaN,NaN,NaN,NaN,"Pages Rd, , , New Zealand","630 Pages Rd , , , New Zealand","[-43.5243222, 172.6856232]",-43.524322,172.685623
29336,1141492,1141492,1264632,3713794,0,131,NaN,NaN,Bexley,Rd,...,NaN,NaN,NaN,NaN,NaN,"Bexley Rd, , Christchurch, New Zealand","131 Bexley Rd , , Christchurch, New Zealand","[-43.5075755, 172.7150179]",-43.507576,172.715018
29337,1141493,1141493,1264635,1700763,0,137,NaN,NaN,Bexley,Rd,...,NaN,NaN,NaN,NaN,NaN,"Bexley Rd, , Christchurch, New Zealand","137 Bexley Rd , , Christchurch, New Zealand","[-43.5075755, 172.7150179]",-43.507576,172.715018
29338,1141494,1141494,1264636,1700766,0,3,NaN,NaN,Orari,St,...,NaN,NaN,NaN,NaN,NaN,"Orari St, Bexley, Christchurch, New Zealand","3 Orari St , Bexley, Christchurch, New Zealand","[-43.51091, 172.7208109]",-43.510910,172.720811

In [12]:
geocode_chunk(chunks[3])

In [13]:
geocode_chunk(chunks[4])

In [16]:
geocode_chunk(chunks[5])

In [18]:
geocode_chunk(chunks[6])

In [19]:
geocode_chunk(chunks[7])

In [21]:
geocode_chunk(chunks[8])

In [23]:
geocode_chunk(chunks[9])

In [24]:
geocode_chunk(chunks[10])

In [25]:
geocode_chunk(chunks[11])

In [27]:
geocode_chunk(chunks[12])

In [28]:
geocode_chunk(chunks[13])

In [31]:
geocode_chunk(chunks[14])
chunks[14].to_csv(r'chunk14_gdf2.csv')
geocode_chunk(chunks[15])
chunks[15].to_csv(r'chunk15_gdf2.csv')
geocode_chunk(chunks[16])
chunks[16].to_csv(r'chunk16_gdf2.csv')
geocode_chunk(chunks[17])
chunks[17].to_csv(r'chunk17_gdf2.csv')

In [43]:
chunks[0].to_csv(r'chunk0_gdf2.csv')

In [44]:
chunks[1].to_csv(r'chunk1_gdf2.csv')

In [48]:
chunks[2].to_csv(r'chunk2_gdf2.csv')

In [14]:
chunks[3].to_csv(r'chunk3_gdf2.csv')

In [15]:
chunks[4].to_csv(r'chunk4_gdf2.csv')

In [17]:
chunks[5].to_csv(r'chunk5_gdf2.csv')

In [20]:
chunks[6].to_csv(r'chunk6_gdf2.csv')
chunks[7].to_csv(r'chunk7_gdf2.csv')

In [22]:
chunks[8].to_csv(r'chunk8_gdf2.csv')

In [26]:
chunks[9].to_csv(r'chunk9_gdf2.csv')
chunks[10].to_csv(r'chunk10_gdf2.csv')
chunks[11].to_csv(r'chunk11_gdf2.csv')

In [29]:
chunks[12].to_csv(r'chunk12_gdf2.csv')

In [30]:
chunks[13].to_csv(r'chunk13_gdf2.csv')

In [32]:
# after all 18 chuncks geocoded, concatate them together into one dataframe of gdf2_geocoded

# Combine the 18 chunks back into a single DataFrame
gdf2_geocoded = pd.concat(chunks, ignore_index=True)
gdf2_geocoded.to_csv(r'gdf2_geocoded.csv')

In [33]:
gdf2_geocoded.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'CL_QPID', 'CL_Sale_ID', 'CL_Building_ID',
       'CL_Situation_Number', 'CL_TA7_MissingMB_Situation_Number',
       'CL_TA7_MissingMB_Additional_Number', 'CL_Street_Name',
       'CL_Street_Name_Suffix', 'CL_Street_Name_Direction', 'CL_Suburb',
       'CL_Town', 'CL_RegionID', 'CL_RegionName', 'CL_TAcode', 'CL_TAName',
       'CL_Meshblock', 'CL_SAU', 'CL_Sale_Tenure',
       'CL_Sale_Price_Value_Relationship', 'CL_Sale_Date', 'CL_Sale_Price_Net',
       'CL_Sale_Price_Chattels', 'CL_Sale_Price_Other', 'CL_Sale_Price_Gross',
       'CL_Land_Valuation_Capital_Value', 'CL_Land_Valuation_Land_Value',
       'CL_Land_Valuation_Improvements_Value', 'CL_Current_Revision_Date',
       'CL_Building_Floor_Area', 'CL_Building_Site_Cover', 'CL_Land_Area',
       'CL_Bldg_Const', 'CL_Bldg_Cond', 'CL_Roof_Const', 'CL_Roof_Cond',
       'CL_Category', 'CL_LUD_Age', 'CL_LUD_Land_Use_Description',
       'CL_MAS_Class_Surrounding_Improvmnt_Type', 'CL_MAS_Contour',
       'CL_MAS_View', 'CL_MAS_View_Scope', 'CL_MAS_Modernisation',
       'CL_MAS_House_Type_Description', 'CL_MAS_Deck_Indicator',
       'CL_MAS_Driveway_Indicator', 'CL_MAS_No_Main_Roof_Garages',
       'CL_MAS_Free_Standing_Garages', 'CL_MAS_Estimated_Year_Built',
       'CL_MAS_Landscaping_Quality', 'CL_MAS_Lot_Position', 'CL_School_Zone_1',
       'CL_School_Zone_2', 'CL_School_Zone_3', 'CL_School_Zone_4',
       'CL_School_Zone_5', 'CL_Val_Ref', 'CL_Latitude', 'CL_Longitude',
       'CL_Bedrooms', 'CL_Bathrooms', 'streets', 'fulladdress', 'lat_long',
       'latitude', 'longitude'],
      dtype='object')

In [35]:
gdf2_geocoded['CL_Longitude']=gdf2_geocoded['longitude']
gdf2_geocoded['CL_Latitude']=gdf2_geocoded['latitude']

In [40]:
# Create a column of geometry for gdf2
gdf2_geocoded['geometry']=gpd.points_from_xy(gdf2_geocoded.longitude, gdf2_geocoded.latitude)

In [36]:
# import gdf1

gdf1=pd.read_csv(r"D:\Chapter_3\02_raw_data\gdf1.csv")

In [42]:
gdf2_geocoded.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'CL_QPID', 'CL_Sale_ID', 'CL_Building_ID',
       'CL_Situation_Number', 'CL_TA7_MissingMB_Situation_Number',
       'CL_TA7_MissingMB_Additional_Number', 'CL_Street_Name',
       'CL_Street_Name_Suffix', 'CL_Street_Name_Direction', 'CL_Suburb',
       'CL_Town', 'CL_RegionID', 'CL_RegionName', 'CL_TAcode', 'CL_TAName',
       'CL_Meshblock', 'CL_SAU', 'CL_Sale_Tenure',
       'CL_Sale_Price_Value_Relationship', 'CL_Sale_Date', 'CL_Sale_Price_Net',
       'CL_Sale_Price_Chattels', 'CL_Sale_Price_Other', 'CL_Sale_Price_Gross',
       'CL_Land_Valuation_Capital_Value', 'CL_Land_Valuation_Land_Value',
       'CL_Land_Valuation_Improvements_Value', 'CL_Current_Revision_Date',
       'CL_Building_Floor_Area', 'CL_Building_Site_Cover', 'CL_Land_Area',
       'CL_Bldg_Const', 'CL_Bldg_Cond', 'CL_Roof_Const', 'CL_Roof_Cond',
       'CL_Category', 'CL_LUD_Age', 'CL_LUD_Land_Use_Description',
       'CL_MAS_Class_Surrounding_Improvmnt_Type', 'CL_MAS_Contour',
       'CL_MAS_View', 'CL_MAS_View_Scope', 'CL_MAS_Modernisation',
       'CL_MAS_House_Type_Description', 'CL_MAS_Deck_Indicator',
       'CL_MAS_Driveway_Indicator', 'CL_MAS_No_Main_Roof_Garages',
       'CL_MAS_Free_Standing_Garages', 'CL_MAS_Estimated_Year_Built',
       'CL_MAS_Landscaping_Quality', 'CL_MAS_Lot_Position', 'CL_School_Zone_1',
       'CL_School_Zone_2', 'CL_School_Zone_3', 'CL_School_Zone_4',
       'CL_School_Zone_5', 'CL_Val_Ref', 'CL_Latitude', 'CL_Longitude',
       'CL_Bedrooms', 'CL_Bathrooms', 'streets', 'fulladdress', 'lat_long',
       'latitude', 'longitude', 'geometry'],
      dtype='object')

In [37]:
gdf1.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'CL_QPID', 'CL_Sale_ID', 'CL_Building_ID',
       'CL_Situation_Number', 'CL_TA7_MissingMB_Situation_Number',
       'CL_TA7_MissingMB_Additional_Number', 'CL_Street_Name',
       'CL_Street_Name_Suffix', 'CL_Street_Name_Direction', 'CL_Suburb',
       'CL_Town', 'CL_RegionID', 'CL_RegionName', 'CL_TAcode', 'CL_TAName',
       'CL_Meshblock', 'CL_SAU', 'CL_Sale_Tenure',
       'CL_Sale_Price_Value_Relationship', 'CL_Sale_Date', 'CL_Sale_Price_Net',
       'CL_Sale_Price_Chattels', 'CL_Sale_Price_Other', 'CL_Sale_Price_Gross',
       'CL_Land_Valuation_Capital_Value', 'CL_Land_Valuation_Land_Value',
       'CL_Land_Valuation_Improvements_Value', 'CL_Current_Revision_Date',
       'CL_Building_Floor_Area', 'CL_Building_Site_Cover', 'CL_Land_Area',
       'CL_Bldg_Const', 'CL_Bldg_Cond', 'CL_Roof_Const', 'CL_Roof_Cond',
       'CL_Category', 'CL_LUD_Age', 'CL_LUD_Land_Use_Description',
       'CL_MAS_Class_Surrounding_Improvmnt_Type', 'CL_MAS_Contour',
       'CL_MAS_View', 'CL_MAS_View_Scope', 'CL_MAS_Modernisation',
       'CL_MAS_House_Type_Description', 'CL_MAS_Deck_Indicator',
       'CL_MAS_Driveway_Indicator', 'CL_MAS_No_Main_Roof_Garages',
       'CL_MAS_Free_Standing_Garages', 'CL_MAS_Estimated_Year_Built',
       'CL_MAS_Landscaping_Quality', 'CL_MAS_Lot_Position', 'CL_School_Zone_1',
       'CL_School_Zone_2', 'CL_School_Zone_3', 'CL_School_Zone_4',
       'CL_School_Zone_5', 'CL_Val_Ref', 'CL_Latitude', 'CL_Longitude',
       'CL_Bedrooms', 'CL_Bathrooms', 'geometry'],
      dtype='object')

In [38]:
# create columns of streets and fulladdress for gdf1

gdf1['streets'] = ((gdf1['CL_Street_Name'].fillna('') + ' ' +
                    gdf1['CL_Street_Name_Suffix'].fillna('') + 
                    gdf1['CL_Street_Name_Direction'].fillna('') + ', ' +
                    gdf1['CL_Suburb'].fillna('') + ', ' +
                    gdf1['CL_Town'].fillna('') + ', ' +
                    'New Zealand').str.strip())

# Replace multiple consecutive spaces with a single space
gdf1['streets'] = gdf1['streets'].apply(lambda x: re.sub(r'\s+', ' ', x))

In [39]:

gdf1['fulladdress'] = (gdf1['CL_Situation_Number'].fillna('')+ ' '+(gdf1['CL_Street_Name'].fillna('') + ' ' +
                    gdf1['CL_Street_Name_Suffix'].fillna('') +' ' +
                    gdf1['CL_Street_Name_Direction'].fillna('') + ', ' +
                    gdf1['CL_Suburb'].fillna('') + ', ' +
                    gdf1['CL_Town'].fillna('') + ', ' +
                    'New Zealand').str.strip())

# Replace multiple consecutive spaces with a single space
gdf1['fulladdress'] = gdf1['fulladdress'].apply(lambda x: re.sub(r'\s+', ' ', x))

In [44]:
# combine two datasets together
# Define the columns to keep
columns_to_keep = [
    'CL_QPID', 'CL_Sale_ID', 'CL_Building_ID', 'CL_Situation_Number', 
    'CL_TA7_MissingMB_Situation_Number', 'CL_TA7_MissingMB_Additional_Number', 
    'CL_Street_Name', 'CL_Street_Name_Suffix', 'CL_Street_Name_Direction', 
    'CL_Suburb', 'CL_Town', 'CL_RegionID', 'CL_RegionName', 'CL_TAcode', 
    'CL_TAName', 'CL_Meshblock', 'CL_SAU', 'CL_Sale_Tenure', 
    'CL_Sale_Price_Value_Relationship', 'CL_Sale_Date', 'CL_Sale_Price_Net', 
    'CL_Sale_Price_Chattels', 'CL_Sale_Price_Other', 'CL_Sale_Price_Gross', 
    'CL_Land_Valuation_Capital_Value', 'CL_Land_Valuation_Land_Value', 
    'CL_Land_Valuation_Improvements_Value', 'CL_Current_Revision_Date', 
    'CL_Building_Floor_Area', 'CL_Building_Site_Cover', 'CL_Land_Area', 
    'CL_Bldg_Const', 'CL_Bldg_Cond', 'CL_Roof_Const', 'CL_Roof_Cond', 
    'CL_Category', 'CL_LUD_Age', 'CL_LUD_Land_Use_Description', 
    'CL_MAS_Class_Surrounding_Improvmnt_Type', 'CL_MAS_Contour', 'CL_MAS_View', 
    'CL_MAS_View_Scope', 'CL_MAS_Modernisation', 'CL_MAS_House_Type_Description', 
    'CL_MAS_Deck_Indicator', 'CL_MAS_Driveway_Indicator', 
    'CL_MAS_No_Main_Roof_Garages', 'CL_MAS_Free_Standing_Garages', 
    'CL_MAS_Estimated_Year_Built', 'CL_MAS_Landscaping_Quality', 'CL_MAS_Lot_Position', 
    'CL_School_Zone_1', 'CL_School_Zone_2', 'CL_School_Zone_3', 'CL_School_Zone_4', 
    'CL_School_Zone_5', 'CL_Val_Ref', 'CL_Latitude', 'CL_Longitude', 
    'CL_Bedrooms', 'CL_Bathrooms', 'streets', 'fulladdress', 'geometry'
]

# Select only the columns to keep
gdf1_selected = gdf1[columns_to_keep]
gdf2_selected = gdf2_geocoded[columns_to_keep]

# Combine the two DataFrames
df = pd.concat([gdf1_selected, gdf2_selected], ignore_index=True)

In [45]:
df.to_csv(r'D:\Chapter_3\03_cleaned_data\house_withgeocode.csv')

In [2]:
# import pandas as pd
# df = pd.read_csv(r'D:\Chapter_3\03_cleaned_data\house_withgeocode.csv')

C:\Users\86133\AppData\Local\Temp\ipykernel_28552\831471647.py:2: DtypeWarning: Columns (6,9,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'D:\Chapter_3\03_cleaned_data\house_withgeocode.csv')

In [5]:
df.columns

Index(['Unnamed: 0', 'CL_QPID', 'CL_Sale_ID', 'CL_Building_ID',
       'CL_Situation_Number', 'CL_TA7_MissingMB_Situation_Number',
       'CL_TA7_MissingMB_Additional_Number', 'CL_Street_Name',
       'CL_Street_Name_Suffix', 'CL_Street_Name_Direction', 'CL_Suburb',
       'CL_Town', 'CL_RegionID', 'CL_RegionName', 'CL_TAcode', 'CL_TAName',
       'CL_Meshblock', 'CL_SAU', 'CL_Sale_Tenure',
       'CL_Sale_Price_Value_Relationship', 'CL_Sale_Date', 'CL_Sale_Price_Net',
       'CL_Sale_Price_Chattels', 'CL_Sale_Price_Other', 'CL_Sale_Price_Gross',
       'CL_Land_Valuation_Capital_Value', 'CL_Land_Valuation_Land_Value',
       'CL_Land_Valuation_Improvements_Value', 'CL_Current_Revision_Date',
       'CL_Building_Floor_Area', 'CL_Building_Site_Cover', 'CL_Land_Area',
       'CL_Bldg_Const', 'CL_Bldg_Cond', 'CL_Roof_Const', 'CL_Roof_Cond',
       'CL_Category', 'CL_LUD_Age', 'CL_LUD_Land_Use_Description',
       'CL_MAS_Class_Surrounding_Improvmnt_Type', 'CL_MAS_Contour',
       'CL_MAS_View', 'CL_MAS_View_Scope', 'CL_MAS_Modernisation',
       'CL_MAS_House_Type_Description', 'CL_MAS_Deck_Indicator',
       'CL_MAS_Driveway_Indicator', 'CL_MAS_No_Main_Roof_Garages',
       'CL_MAS_Free_Standing_Garages', 'CL_MAS_Estimated_Year_Built',
       'CL_MAS_Landscaping_Quality', 'CL_MAS_Lot_Position', 'CL_School_Zone_1',
       'CL_School_Zone_2', 'CL_School_Zone_3', 'CL_School_Zone_4',
       'CL_School_Zone_5', 'CL_Val_Ref', 'CL_Latitude', 'CL_Longitude',
       'CL_Bedrooms', 'CL_Bathrooms', 'streets', 'fulladdress', 'geometry'],
      dtype='object')

In [10]:
df.shape

(3393752, 65)

In [9]:
df['geometry'].isna().unique()

array([False])